#header {
    width: 850px;
    height: 320px;
    background: #201ea7;
    padding-top: 1px;
    margin-top: -1px;
    margin-bottom: 0px;
    margin: auto;

}
#portrait {
    margin: 0px;
    float: left;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 100px;
    border: 2px solid black;
}
.info {
    text-align: left;
    color: aliceblue;
    margin-top: 200px;
}
#pageName{
    font-size: 30px
}
#website{
    margin-top: 0px;
    font-size: 20px;
}
ul {
    width: 850px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}
li {
    float: left;
    margin-bottom: 0px;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
#content {
    display: flex;
    flex-wrap: wrap;
}
#photos {
    width: 328px;
    margin-bottom: 20px;
    margin-right: 10px;
}
#apps {
    width: 328px;
    margin-right: 10px;
}
#post1 {
    width: 512px;
    margin-bottom: 20px;
}
#post2 {
    width: 512px;
}
.photoPost {
    max-width: 10;
    max-height: 10;
}
#post1Pic {
    float: right;
}